.show-items{
    line-height: 0.5;
    color: #000;
    display: inline-block;
    margin: 10px 0px 10px -13px;
}
.each-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    width: 50vw;
    background-color: #ababe6;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}
.delete-icon{
    position: relative;
    top: 15px;
    color: #d02b11;
    cursor: pointer;
}
@media (max-width: 500px){
    .each-item{
        width: 80vw;
    }
}